<html  ng-app="myApp" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{front-office/layout/auth.html}">
        
        <!-- About Start -->
        <div th:fragment="_about" ng-controller="unAuthController">
            <!-- About Start -->
            <div class="container-fluid about py-5">
                <div class="container py-1">
                    <div class="row g-5">
                        <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.2s">
                            <div>
                                <h1 class="text-primary">A propos de <span>{{structureDto.nom}}</span></h1>
                                <p ng-bind-html="structureDto.description"></p>

                                <div class="row g-4">
                                    <div class="col-md-6" ng-repeat="service in listeServices track by $index">
                                        <div class="d-flex">
                                            <div class="me-3"><i class="{{dataIcons[$index]}} text-primary"></i></div>
                                            <div>
                                                <h5>{{service.nom}}</h5>
                                                <p class="truncate-text">{{service.description}}</p>
                                            </div>
                                        </div>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 wow fadeInUp" data-wow-delay="0.4s">
                            <div class="position-relative rounded">
                                <div class="rounded" style="margin-top: 40px;">
                                    <div class="row g-0">
                                        <div class="col-lg-12">
                                            <div class="rounded mb-4">
                                                <img src="img/about.jpg" class="img-fluid rounded w-100" alt="">
                                            </div>
                                            <div class="row gx-4 gy-0">
                                                <div class="col-6">
                                                    <div class="counter-item bg-primary rounded text-center p-4 h-100">
                                                        <div class="counter-item-icon mx-auto mb-3">
                                                            <i class="fas fa-thumbs-up fa-3x text-white"></i>
                                                        </div>
                                                        <div class="counter-counting mb-3">
                                                            <span class="text-white fs-2 fw-bold" data-toggle="counter-up">150</span>
                                                            <span class="h1 fw-bold text-white">K +</span>
                                                        </div>
                                                        <h5 class="text-white mb-0">Happy Visitors</h5>
                                                    </div>
                                                </div>
                                                <div class="col-6">
                                                    <div class="counter-item bg-dark rounded text-center p-4 h-100">
                                                        <div class="counter-item-icon mx-auto mb-3">
                                                            <i class="fas fa-certificate fa-3x text-white"></i>
                                                        </div>
                                                        <div class="counter-counting mb-3">
                                                            <span class="text-white fs-2 fw-bold" data-toggle="counter-up">122</span>
                                                            <span class="h1 fw-bold text-white"> +</span>
                                                        </div>
                                                        <h5 class="text-white mb-0">Awwards Winning</h5>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rounded bg-primary p-4 position-absolute d-flex justify-content-center" style="width: 90%; height: 80px; top: -40px; left: 50%; transform: translateX(-50%);">
                                    <h3 class="mb-0 text-white">20 Years Experiance</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- About End -->
        </div>
        <!-- About End -->
</html>