<html xmlns:th="http://www.thymeleaf.org">
    <!--begin::Footer-->
    <footer  th:fragment="footer" ng-controller="unAuthController">
      <!-- Footer Start -->
      <div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
        <div class="container py-5">
            <div class="row g-5">
                <div class="col-md-6 col-lg-6 col-xl-4">
                    <div class="footer-item">
                        <a href="/" class="p-0">
                            <!-- <h4 class="text-white mb-4"><i class="fas fa-swimmer text-primary me-3"></i><span th:text="${appName}"></span></h4> -->
                            <img ng-src="/{{structureDto.logo}}" style="border-radius: 5px;" alt="Logo">
                        </a>
                        <p class="mb-2" ng-bind-html="structureDto.bio"></p>
                        <div class="d-flex align-items-center">
                            <i class="fas fa-map-marker-alt text-primary me-3"></i>
                            <p class="text-white mb-0" >{{structureDto.localisation}}</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="fas fa-envelope text-primary me-3"></i>
                            <p class="text-white mb-0">{{structureDto.email}}</p>
                        </div>
                        <div class="d-flex align-items-center">
                            <i class="fa fa-phone-alt text-primary me-3"></i>
                            <p class="text-white mb-0">{{structureDto.telephone}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-lg-8 col-xl-3">
                    <div class="footer-item">
                        <h4 class="text-white mb-4">Liens rapides</h4>
                        <a th:href="@{qui-sommes-nous}"><i class="fas fa-angle-right me-2"></i> Qui sommes-nous</a>
                        <a th:href="@{services}"><i class="fas fa-angle-right me-2"></i> Services</a>
                        <a th:href="@{blog}"><i class="fas fa-angle-right me-2"></i> Blog</a>
                        <a th:href="@{contat}"><i class="fas fa-angle-right me-2"></i> Contact</a>
                        <a th:href="@{login}"><i class="fas fa-angle-right me-2"></i> Connexion</a>
                    </div>
                </div>
               
                <div class="col-md-6 col-lg-6 col-xl-5">
                    <div class="footer-item">
                        <h4 class="text-white mb-4">Heures d’ouverture</h4>
                        <div class="opening-date mb-3 pb-3">
                            <div class="opening-clock flex-shrink-0">
                                <h6 class="text-white mb-0 me-auto">Lundi - Vendredi :</h6>
                                <p class="mb-0"><i class="fas fa-clock text-primary me-2"></i> 11:00 AM - 16:00 PM</p>
                            </div>
                            <div class="opening-clock flex-shrink-0">
                                <h6 class="text-white mb-0 me-auto">Samedi - Dimanche:</h6>
                                <p class="mb-0"><i class="fas fa-clock text-primary me-2"></i> 09:00 AM - 17:00 PM</p>
                            </div>
                            <!-- <div class="opening-clock flex-shrink-0">
                                <h6 class="text-white mb-0 me-auto">Vacances:</h6>
                                <p class="mb-0"><i class="fas fa-clock text-primary me-2"></i> 09:00 AM - 17:00 PM</p>
                            </div> -->
                        </div>
                        <div>
                            <!-- <p class="text-white mb-2">Paiement accepté</p>
                            <img src="/img/payment.png" class="img-fluid" alt="Image"> -->
                            <div class="ftco-footer-widget ">
                                <h5 class="ftco-heading-2 text-light">Abonnez-nous !</h5>
                              <form action="#" class="subscribe-form">
                                <div class="form-group">
                                  <input type="email" ng-model="newsletterDto.useremail" class="form-control mb-2 text-center" placeholder="Entrer l'adresse email">
                                  <input type="button" ng-click="newsletter()" value="S'inscrire" class="form-control submit px-3">
                                </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer End -->
    
    <!-- Copyright Start -->
    <div class="container-fluid copyright py-4">
        <div class="container">
            <div class="row g-4 align-items-center">
                <div class="col-md-6 text-center text-md-start mb-md-0">
                    <span class="text-body"><a href="#" class="border-bottom text-white"><i class="fas fa-copyright text-light me-2"></i>bhc.com</a>,  Tous droits réservés.</span>
                </div>
                
            </div>
        </div>
    </div>
    <!-- Copyright End -->
</footer>
</html>