<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{back-office/layout/base.html}">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${appName} + ' - ' + ${title}">BHC</title>

</head>
<body ng-app="myApp" ng-controller="locationsController">
    <div layout:fragment="content">
        <div class="card">
            <div class="card-header border-0 pt-6">
                <div class="card-title">
                    <div class="d-flex align-items-center position-relative my-1">
                        <span class="svg-icon svg-icon-1 position-absolute ms-6">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <rect opacity="0.5" x="17.0365" y="15.1223" width="8.15546" height="2" rx="1" transform="rotate(45 17.0365 15.1223)" fill="currentColor" />
                                <path d="M11 19C6.55556 19 3 15.4444 3 11C3 6.55556 6.55556 3 11 3C15.4444 3 19 6.55556 19 11C19 15.4444 15.4444 19 11 19ZM11 5C7.53333 5 5 7.53333 5 11C5 14.4667 7.53333 17 11 17C14.4667 17 17 14.4667 17 11C17 7.53333 14.4667 5 11 5Z" fill="currentColor" />
                            </svg>
                        </span>
                        <input type="text" class="form-control form-control-solid w-250px ps-14" placeholder="Rechercher une location..." ng-model="searchText" />
                    </div>
                </div>
                <div class="card-toolbar">
                    <a href="/atiko/locations/reservations" class="btn btn-light-primary me-2">Voir réservations</a>
                    <a href="/atiko/locations/reservation" class="btn btn-primary">Nouvelle réservation</a>
                </div>
            </div>

            <div class="card-body py-4 table-responsive">
                <table class="table align-middle table-row-dashed fs-6 gy-5">
                    <thead>
                        <tr class="text-start text-muted fw-bold fs-7 text-uppercase gs-0">
                            <th class="min-w-150px">Client</th>
                            <th class="min-w-150px">Voiture</th>
                            <th class="min-w-150px">Début</th>
                            <th class="min-w-150px">Fin</th>
                            <th class="min-w-120px">Montant</th>
                            <th class="min-w-120px">Mode paiement</th>
                            <th class="text-end min-w-150px">Actions</th>
                        </tr>
                    </thead>
                    <tbody class="text-gray-600 fw-semibold">
                        <tr ng-if="loading">
                            <td colspan="7" class="text-center py-10">
                                <div class="spinner-border text-primary" role="status">
                                    <span class="visually-hidden">Chargement...</span>
                                </div>
                            </td>
                        </tr>

                        <tr ng-if="!loading && (!listeLocations || listeLocations.length === 0)">
                            <td colspan="7" class="text-center py-10">
                                <div class="text-muted">Aucune location en cours</div>
                            </td>
                        </tr>

                        <tr ng-repeat="loc in (listeLocations | filter:searchText) track by loc.reservationId" ng-if="!loading">
                            <td>
                                <div class="d-flex flex-column">
                                    <span class="text-gray-800 fw-bold mb-1">{{ loc.clientNom || 'N/A' }}</span>
                                    <span class="text-gray-500 fs-7">{{ loc.clientEmail || '' }}</span>
                                </div>
                            </td>
                            <td>
                                <div class="d-flex flex-column">
                                    <span class="text-gray-800 fw-bold mb-1">{{ loc.voitureNom || 'N/A' }}</span>
                                    <span class="text-gray-500 fs-7">{{ loc.voitureImmatriculation || '' }}</span>
                                </div>
                            </td>
                            <td>
                                <span ng-if="loc.dateDebutPrevue">{{ loc.dateDebutPrevue | date:'dd/MM/yyyy HH:mm' }}</span>
                                <span ng-if="!loc.dateDebutPrevue" class="text-muted">-</span>
                            </td>
                            <td>
                                <span ng-if="loc.dateFinPrevue">{{ loc.dateFinPrevue | date:'dd/MM/yyyy HH:mm' }}</span>
                                <span ng-if="!loc.dateFinPrevue" class="text-muted">-</span>
                            </td>
                            <td>{{ (loc.montantTotal || 0) | number:0 }} FCFA</td>
                            <td>{{ loc.modePaiement || '-' }}</td>
                            <td class="text-end">
                                <a ng-click="viewLocation(loc.reservationId)" class="btn btn-sm btn-light-primary me-2">Voir</a>
                                <a ng-click="terminateLocation(loc.reservationId)" class="btn btn-sm btn-light-danger">Terminer</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script src="/js/controllers/locationsController.js" layout:fragment="script"></script>
</body>
</html>