<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" mlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"  layout:decorate="~{front-office/layout/auth.html}"lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${appName} + ' - ' + ${title}">BHC</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body ng-app="myApp">
    
    <main layout:fragment="content" ng-Controller="unAuthController">
        <section class="sample-text-area">
            <div class="container box_1170">
                <h3 class="text-heading">Text Sample</h3>
                <p class="sample-text">
                    description
                </p>

                <form action="/submit-request" method="post" enctype="multipart/form-data">
                    
                    <div class="col-lg-12">

                        <div class="container my-5">
                          <h4>Formulaire de Demande d'Appui Technique et Financier</h4>
            
                          <!-- Section 1: Informations Générales sur l'Entreprise -->
                          <h5 class="mt-4">Informations Générales sur l'Entreprise</h5>
                          <div class="row g-3">
                            <div class="col-md-6">
                              <div class="form-floating">
                                <input type="text" class="form-control" id="nomEntreprise" placeholder="Nom de l'Entreprise"
                                  required>
                                <label for="nomEntreprise">Nom de l'Entreprise</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating">
                                <input type="text" class="form-control" id="adresseEntreprise" placeholder="Adresse de l'Entreprise"
                                  required>
                                <label for="adresseEntreprise">Adresse de l'Entreprise</label>
                              </div>
                            </div>
                          </div>
            
                          <div class="row g-3 mt-3">
                            <div class="col-md-6">
                              <div class="form-floating">
                                <input type="text" class="form-control" id="secteurActivite" placeholder="Secteur d'Activité"
                                  required>
                                <label for="secteurActivite">Secteur d'Activité (ex. : agriculture, technologie, services,
                                  etc.)</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-floating">
                                <input type="date" class="form-control" id="dateCreation"
                                  placeholder="Date de Création de l'Entreprise" required>
                                <label for="dateCreation">Date de Création de l'Entreprise</label>
                              </div>
                            </div>
                          </div>
            
                          <div class="row g-3 mt-3">
                            <div class="col-md-4">
                              <div class="form-floating">
                                <input type="text" class="form-control" id="numeroRegistre"
                                  placeholder="Numéro de Registre de Commerce">
                                <label for="numeroRegistre">Numéro de Registre de Commerce</label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-floating">
                                <input type="number" class="form-control" id="nombreEmployes" placeholder="Nombre d'Employés"
                                  required>
                                <label for="nombreEmployes">Nombre d'Employés</label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-floating">
                                <select class="form-select" id="statutJuridique" required>
                                  <option selected disabled>Choisir...</option>
                                  <option value="SARL">SARL</option>
                                  <option value="SA">SA</option>
                                  <option value="EI">EI</option>
                                </select>
                                <label for="statutJuridique p-1">Statut Juridique</label>
                              </div>
                            </div>
                          </div>
            
            
                          <div class="row g-3 mt-3">
                            <div class="col-md-4">
                              <div class="form-floating">
                                <input type="email" class="form-control" id="pays" placeholder="Adresse Email" required>
                                <label for="pays">Pays</label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-floating">
                                <input type="email" class="form-control" id="adresseEmail" placeholder="Adresse Email" required>
                                <label for="adresseEmail " class="required">Adresse Email</label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-floating">
                                <input type="tel" class="form-control" id="telephone" placeholder="Numéro de Téléphone" required>
                                <label for="telephone">Numéro de Téléphone</label>
                              </div>
                            </div>
                          </div>
            
                          <div class="row g-3 mt-3">
                            <div class="col-md-4">
                              <div class="form-floating">
                                <input type="text" class="form-control" id="nomResponsable"
                                  placeholder="Nom du Responsable ou Promoteur" required>
                                <label for="nomResponsable">Nom du Responsable ou Promoteur</label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-floating">
                                <input type="text" class="form-control" id="fonctionResponsable"
                                  placeholder="Fonction au sein de l'entreprise" required>
                                <label for="fonctionResponsable">Fonction au sein de l'entreprise</label>
                              </div>
                            </div>
                            <div class="col-md-4">
                              <div class="form-floating">
                                <input type="url" class="form-control" id="siteWeb" placeholder="Site Web">
                                <label for="siteWeb">Site Web (si disponible)</label>
                              </div>
                            </div>
                          </div>
                        </div>
            
                        <!-- Section 2: Description du Projet -->
                        <h5 class="mt-4">Description du Projet</h5>
                        <div class="row g-3 mt-3">
                          <div class="col-md-6">
                            <div class="form-floating">
                              <textarea class="form-control" id="resumeProjet" placeholder="Résumé du Projet (800 Caractères)"
                                style="height: 100px" maxlength="800" required></textarea>
                              <label for="resumeProjet">Résumé du Projet (800 Caractères)</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-floating">
                              <textarea class="form-control" id="objectifsProjet" placeholder="Objectifs du Projet"
                                style="height: 100px" required></textarea>
                              <label for="objectifsProjet">Objectifs du Projet</label>
                            </div>
                          </div>
                        </div>
                        <div class="row g-3 mt-3">
                          <div class="col-md-6">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="impactProjet"
                                placeholder="Impact Prévu (économique, social, environnemental, etc.)" required>
                              <label for="impactProjet">Impact Prévu (économique, social, environnemental, etc.)</label>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="form-floating">
                              <input type="date" class="form-control" id="dateLancement"
                                placeholder="Date Prévue de Lancement ou de Mise en Œuvre" required>
                              <label for="dateLancement">Date Prévue de Lancement ou de Mise en Œuvre</label>
                            </div>
                          </div>
                        </div>
            
                        <!-- Section 3: Demande d'Appui -->
                        <h5 class="mt-4">Demande d'Appui</h5>
                        <div class="row g-3 mt-3">
                          <div class="col-md-6">
                            <div class="form-floating">
                              <select class="form-select" id="typeAppui" aria-label="Type d'Appui" required>
                                <option selected disabled>Choisir...</option>
                                <option value="technique">Appui technique</option>
                                <option value="financier">Appui financier</option>
                                <option value="both">Appui technique et financier</option>
                              </select>
                              <label for="typeAppui">Type d'Appui Sollicité</label>
                            </div>
                          </div>
            
                          <div class="col-md-6">
                            <div class="form-floating">
                              <select class="form-select" id="typeFinancement" aria-label="Type d'Appui" required>
                                <option selected disabled>Choisir...</option>
                                <option value="Prêt">Prêt</option>
                                <option value="Capital-risque">Capital-risque</option>
                                <option value="Autre">Autre (précisez)</option>
                              </select>
                              <label for="typeFinancement">Type de Financement</label>
                            </div>
                          </div>
                        </div>
                        <div class="row g-3 mt-3">
                          <div class="col-md-6">
                            <div class="form-floating">
                              <input type="number" class="form-control" id="montantDemandé"
                                placeholder="Montant de Financement Demandé (en FCFA)" required>
                              <label for="montantDemandé">Montant de Financement Demandé (en FCFA)</label>
                            </div>
                          </div>
            
                          <div class="col-md-6">
                            <div class="form-floating">
                              <input type="text" class="form-control" id="utilisation"
                                placeholder="(Détaillez les postes budgétaires : matériel, ressources humaines, marketing, etc.)"
                                required>
                              <label for="utilisation">Utilisation Précise des Fonds </label>
                            </div>
                          </div>
                        </div>
                       

                       <h5>Situation Actuelle du Projet</h5>
                      <!-- Niveau de Développement du Projet (sélection) -->
                      <div class="row g-3 ">
                        <div class="col-md-4">
                          <div class="form-floating">
                            <select id="niveauDeveloppement" class="form-select" name="niveauDeveloppement">
                              <option value="idee">Idée</option>
                              <option value="prototype">Phase de Prototype</option>
                              <option value="lancement">Lancement</option>
                              <option value="croissance">Croissance</option>
                            </select>
                            <label for="niveauDeveloppement">Niveau de Développement du Projet :</label><br>
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="form-floating">
                            <input type="checkbox" id="financement"  name="financement" onclick="toggleFinancementFields()">
                            <label for="financement">Avez-vous déjà reçu un financement antérieur ?</label>

                          </div>
                        </div>
                        <div class="col-md-4">
                            <div id="financementDetails" class="form-floating" style="display: none;" >
                              <input type="text" id="sourceFinancement"  class="form-control" name="sourceFinancement" placeholder="Source et montant">
                              <label for="sourceFinancement">Précisez la source et le montant :</label>
                            </div>

                        </div>
                      </div>
                      
                      <div class="row g-3 mt-3">
                          <div class="col-md-4">
                            <div class="form-floating">
                              <textarea id="defisActuels" class="form-control" name="defisActuels" rows="" placeholder="Quels sont les obstacles que vous rencontrez ?"></textarea>
                              <label for="defisActuels">Principaux Défis Actuels :</label>

                            </div>
                          </div>
                          <div class="col-md-4">
                            <label for="support">Où vous avez besoin de support technique</label><br>
                            <div class="form-check">
                              <input type="checkbox" id="strategie" name="support[]" value="strategie" class="form-check-input">
                              <label class="form-check-label" for="strategie">Stratégie d'entreprise</label>
                            </div>
                            <div class="form-check">
                              <input type="checkbox" id="gestionProjet" name="support[]" value="gestionProjet" class="form-check-input">
                              <label class="form-check-label" for="gestionProjet">Gestion de projet</label>
                            </div>
                            <div class="form-check">
                              <input type="checkbox" id="developpementTechnologique" name="support[]" value="developpementTechnologique" class="form-check-input">
                              <label class="form-check-label" for="developpementTechnologique">Développement technologique</label>
                            </div>
                            <div class="form-check">
                              <input type="checkbox" id="marketing" name="support[]" value="marketing" class="form-check-input">
                              <label class="form-check-label" for="marketing">Marketing</label>
                            </div>
                            <div class="form-check">
                              <input type="checkbox" id="comptabiliteFinance" name="support[]" value="comptabiliteFinance" class="form-check-input">
                              <label class="form-check-label" for="comptabiliteFinance">Comptabilité et finance</label>
                            </div>
                            <div class="form-check">
                              <input type="checkbox" id="autresCheckBox" name="support[]" value="autre" class="form-check-input" onclick="toggleAutreFields()">
                              <label class="form-check-label" for="autre">Autre (précisez)</label>
                            </div>
                          </div>
                          
                          <div class="col-md-4">
                              <div id="autres" class="form-floating" style="display: none;">
                                <input type="text" id="autreSupport" class="form-control" name="autreSupport" placeholder="Précisez"><br><br>
                                <label for="autreSupport" class="required">Précisez si autre :</label><br>
                              </div>
                          </div>
                      </div>

                        <h5 class="mt-4"> Documents à Fournir</h5>
                        <div class="row g-3 ">
                          <div class="col-md-4">
                            <div class="form-floating">
                              <input type="file" class="form-control" id="business" placeholder="Numéro de Registre de Commerce">
                              <label for="business">Business Plan Complet
                              </label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-floating">
                              <input type="file" class="form-control" id="etat_financier" placeholder="(Bilan, compte de résultat)"
                                required>
                              <label for="etat_financier">États Financiers des Deux Dernières Années</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-floating">
                              <input type="file" class="form-control" id="plan_financier"
                                placeholder="(Détails sur l'utilisation des fonds demandés)" required>
            
                              <label for="plan_financier">Plan de Financement Prévisionnel :</label>
                            </div>
                          </div>
                        </div>
                        <div class="row g-3 mt-3">
                          <div class="col-md-4">
                            <div class="form-floating">
                              <input type="file" class="form-control" id="preuve" placeholder="Numéro de Registre de Commerce">
                              <label for="preuve">Preuve d'Enregistrement de l'Entreprise
                              </label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-floating">
                              <input type="file" class="form-control" id="etat_financier" placeholder="(Bilan, compte de résultat)"
                                required>
                              <label for="etat_financier">Pièce d’Identité du Promoteur</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-floating">
                              <input type="file" class="form-control" id="plan_financier"
                                placeholder="(Détails sur l'utilisation des fonds demandés)" required>
            
                              <label for="plan_financier"> Contrats ou Partenariats</label>
                            </div>
                          </div>
                        </div>
                        <div class="row g-3 mt-3">
                          <div class="col-md-4">
                            <div class="form-floating">
                              <input type="file" class="form-control" id="preuve" placeholder="Numéro de Registre de Commerce">
                              <label for="preuve"> Présentation PowerPoint du Projet
                              </label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-floating">
                              <input type="file" class="form-control" id="declaration" placeholder="(Bilan, compte de résultat)"
                                required>
                              <label for="declaration"> Déclaration sur honneur Signé et cacheté</label>
                            </div>
                          </div>
                          <div class="col-md-4">
                            <div class="form-floating">
                              <input type="file" class="form-control" id="plan_financier"
                                placeholder="(Détails sur l'utilisation des fonds demandés)" required>
            
                              <label for="plan_financier"> Tout Autre Document Pertinent</label>
                            </div>
                          </div>
                        </div>
            
                        <!-- Bouton de soumission -->
                        <button type="submit" class="btn btn-primary mt-4">Soumettre la Demande</button>
                      </div>
                </form>
            </div>
        </section>
    </div>
    <script>
      function toggleFinancementFields() {
        const financementCheckbox = document.getElementById("financement");
        const financementDetails = document.getElementById("financementDetails");
        financementDetails.style.display = financementCheckbox.checked ? "block" : "none";
      }
      function toggleAutreFields() {
        const autresCheckBox = document.getElementById("autresCheckBox");
        const autres = document.getElementById("autres");
        autres.style.display = autresCheckBox.checked ? "block" : "none";
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

</body>
</html>